<web-app>
<servlet>
<servlet-name>FuntooServlet</servlet-name>
<servlet-class>FuntooServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>FuntooServlet</servlet-name>
<url-pattern>/FuntooServlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ShopServlet</servlet-name>
<servlet-class>ShopServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ShopServlet</servlet-name>
<url-pattern>/ShopServlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ShoppingServlet</servlet-name>
<servlet-class>ShoppingServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ShoppingServlet</servlet-name>
<url-pattern>/ShoppingServlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>OrderServlet</servlet-name>
<servlet-class>OrderServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>OrderServlet</servlet-name>
<url-pattern>/OrderServlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>SeeServlet</servlet-name>
<servlet-class>SeeServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SeeServlet</servlet-name>
<url-pattern>/SeeServlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>PlaceServlet</servlet-name>
<servlet-class>PlaceServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>PlaceServlet</servlet-name>
<url-pattern>/PlaceServlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>DoneServlet</servlet-name>
<servlet-class>DoneServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DoneServlet</servlet-name>
<url-pattern>/DoneServlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AddCartServlet</servlet-name>
<servlet-class>AddCartServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddCartServlet</servlet-name>
<url-pattern>/AddCartServlet</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ViewCartServlet</servlet-name>
<servlet-class>ViewCartServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ViewCartServlet</servlet-name>
<url-pattern>/ViewCartServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ReviewServlet</servlet-name>
<servlet-class>ReviewServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ReviewServlet</servlet-name>
<url-pattern>/ReviewServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ComplainServlet</servlet-name>
<servlet-class>ComplainServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ComplainServlet</servlet-name>
<url-pattern>/ComplainServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ManagerServlet</servlet-name>
<servlet-class>ManagerServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ManagerServlet</servlet-name>
<url-pattern>/ManagerServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ManagerWorkServlet</servlet-name>
<servlet-class>ManagerWorkServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ManagerWorkServlet</servlet-name>
<url-pattern>/ManagerWorkServlet</url-pattern>
</servlet-mapping>

</web-app>